{% extends "base.html" %}
{% block card_class %}home-card{% endblock %}
{% block hero_title_home %}Meilleure secrétaire ou assimilée{% endblock %}
{% block content %}
<p>Merci de nous accorder deux minutes. Votre avis sur la qualité de l'accueil qui vous a été réservé
nous aide à reconnaître et à récompenser nos meilleures secrétaires et assimilées.</p>
<p>Ce questionnaire est <strong>anonyme</strong> et vos réponses sont strictement confidentielles.
Répondez en toute sincérité, en vous fondant sur l'interaction que vous venez de vivre.</p>
<p><em>La CNPS, notre partenaire pour la vie.</em></p>

<a class="btn" href="{{ url_for('etape1') }}">Commencer le questionnaire</a>
{% endblock %}
